h1{
  text-align: center;
  color: white;
}

body{
  margin: 0px;
  background-image: url(/Hus-Oppgaver-Nettside/images/btx-placeholder-04-2.jpg);

}

.task-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}
  
.add-task-link {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  backdrop-filter: blur(15px);
  border: 2px solid #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 20px;
}
  
.task-values {
  display: flex;
}
  
.task-value-btn {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: transparent;
  backdrop-filter: blur(15px);
  border: 2px solid #ffffff;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 10px;
}
  

.task-value-btn:hover {
  cursor: pointer;
}

  

.navbar {     
  overflow: hidden;      
  background: transparent;
  border: solid 2px white;
  backdrop-filter: blur(15px);

}        
 
.navbar a {     
  float: left;     
  display: block;     
  color: rgb(255, 255, 255);     
  text-align: center;     
  padding: 14px 20px;     
  text-decoration: none;   
  
}         
.navbar .login {     
  float: right;  
}       

.navbar a:hover {     
  background-color: rgb(255, 255, 255);     
  color: rgb(0, 0, 0);   
} 
.navbar .active {     
  background-color: rgb(82, 82, 82);   }
  
  
  
.deleteButton{
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.confirmButton, .finishedButton, .awaitconfirm{
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

li{
  list-style: none;
  margin-bottom: 10px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 30px;
  color: white;
  font-size: bold;
}

#submit-task-form {
  background-color: transparent;
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid white;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  color: white;
}


input[type="text"],
input[type="number"] {
  width: 97%;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

#task-description {
  resize: vertical;
  height: 50px;
}


button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: none;
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
    background-color: transparent !important;
    
}

